<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>

  <form method="post" th:action th:object="${form}">
      <div th:if="${#fields.hasGlobalErrors()}">
          <div th:each="error : ${#fields.globalErrors()}" th:text="${error}"></div>
      </div>
    <label for="id">아이디</label>
    <input id="id" type="text" th:field="*{userId}"><br>
      <div th:errors="*{userId}"></div>
    <label for="password">비밀번호</label>
    <input id="password" type="password" th:field="*{password}"><br>
      <div th:errors="*{password}"></div>
    <input type="submit">
  </form>

</body>
</html>